<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>view status</h1>
        <table border="2">
            <tr>
                <td>name</td>
                <td>age</td>
                <td>std</td>
                <td>division</td>
            </tr>
            {% for i in sdata %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.std}}</td>
                <td>{{i.division}}</td>
                <td><a href="{% url 'update' pk=i.id %}">update</a></td>
                <td><a href="{% url 'update' pk=i.id %}">delete</a></td>
            </tr>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>